<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" />
	<script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body scroll="no">
	<div class="navbar">
		<button id="backButton">&lsaquo;</button>
		<center><h1>PVI</h1></center>
	</div>
	<div class="taskbar">
		<center><ul>
			<li><button>Health</button></li><li><button>Pantry</button></li><li><button>Meals</button></li><li><button>Settings</button></li>
		</ul></center>
	</div>
	<!-- <iframe src="https://www.wikipedia.org" height="1000" width="500"/> -->
</body>
</html>