<!DOCTYPE html>
<html>
<head>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
	<meta name="viewport" content="width=device-width, user-scalable=no" />


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
	<link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" />
	<script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body scroll="no">
	<div class="navbar">
		<button id="backButton">&lsaquo;</button>
		<center><h1 id="title">PVI</h1></center>
	</div>
	<div class="taskbar">
		<ul>
			<li><button class="taskBarButton" onclick="taskbarClick(this)" id='healthButton' name="Health">Health</button></li>
			<li><button class="taskBarButton" onclick="taskbarClick(this)" id='pantryButton' name="Pantry">Pantry</button></li>
			<li><button class="taskBarButton" onclick="taskbarClick(this)" id='mealsButton' name="Meals">Meals</button></li>
			<li><button class="taskBarButton" onclick="taskbarClick(this)" id='settingsButton' name="Settings">Settings</button></li>
		</ul>
	</div>
	<!-- <iframe src="https://www.wikipedia.org" height="1000" width="500"/> -->
</body>
</html>