<!DOCTYPE html>
<html>
<head>
	<title>Pantry</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
	<link href="{{ url_for('static', filename='pantry.css') }}" rel="stylesheet" />

</head>
<body>

{%- macro pantry() -%}
{# CODE BELOW #}


<div id="pantryContainer">
	Test
	<div id= "tableFirstRow">
		THIS IS A ROW
		<div class = "pantryItem">
			This is an item
		</div>
	</div>

	<span id='pantryTrashWrap'>
		<button id="pantryTrashButton">
			<img src="{{ url_for('static', filename='trash_black.svg') }}"/>
		</button>
	</span>

</div>

{# DO NOT CODE PAST THIS LINE#}
{%- endmacro %}

{{ pantry() }}

</body>
</html>