<!DOCTYPE html>
<html>
<head>
	<title>Pantry</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
	<link href="{{ url_for('static', filename='pantry.css') }}" rel="stylesheet" />

</head>
<body>

{%- macro pantry(items) -%}
{# CODE BELOW #}


<div id="pantryContainer">
	<script src="{{ url_for('static', filename='pantry.js') }}"></script>
	
	<p style='font-size:0.8em; margin-left: 0.2em; margin-bottom: 0;'>Your Pantry</p>
	<div id="pantryTable">

		{% for item in items %}
		    {{ pantryItem(description=item) }}
		{% endfor %}
	</div>

	<span id='pantryTrashWrap'>
		<button id="pantryTrashButton">
			<img src="{{ url_for('static', filename='trash_black.svg') }}"/>
		</button>
	</span>

</div>

{# DO NOT CODE PAST THIS LINE#}
{%- endmacro -%}

{%- macro pantryItem(description="") -%}
<div class="pantryItem">
	<div class="pantryItemDescription">{{description}}</div>
</div>
{%- endmacro -%}

{{ pantry(itemsList) }}

</body>
</html>