/*

NOTE: This will be very important in the future
when making id or class names, please append the file name to it.
i.e. if this is the home.css page, you should have .homeButton
and not .button.


Also, please refrain from using tag selectors directly. Don't worry
about spacings too much


*/


#homeContainer {
	width: 90%;
	padding: 5vh 5%;
}


#homeWelcomeTitle {
	font-size: 2em;
	color:black;
}

#homeGroceryGrade {
	width: 80vw;
	max-width: 400px;
	height: 80vw;
	max-height: 400px;
}

#homeContainer h2 {
	margin-bottom: 0;
}

#homeContainer h3 {
	margin-bottom: 0;
}


/* GENERICS */

button {
	border: none;
	background: transparent;
}

button:focus {
	outline:none;
}

body {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ECFAEF;
}