.navbar {
	font-family: "Open Sans", sans-serif;
	font-size: 1.3em;
	color: #8CF;
	background-color: #D1FFDD;
	z-index: 99;
	position: fixed;
	box-shadow: 0px 0px 30px #A8B8C8;
	top: 0;
	width: 100%;
	height: relative;
	overflow: hidden;
	text-align: center;
	/*min-height: 8vh;*/
	height: relative;
}

.navbar #removeOptions {
	display:inline-block;
	position:absolute;
	right: 0rem;
	top: 0;
	z-index: 100;
	visibility: hidden;
	height: 100%;
	width: auto;
}
.navbar #trashButton {
	display:inline-table;
	height: 90%;
	outline:none;
	background:transparent;
	width: relative;
	padding-left: 0;
	padding-top: 10%;
}

.navbar #selectAll {
	position:relative;
	height: 80%;
	display:inline-block;
	font-size: 0.7em;
	color: #48F;
	bottom: 10%;
	padding: 0;
	right: 0;
	text-transform: uppercase;
}

#trashButton img {
	height: 50%;
	width: auto;
}


.navbar #backButton {
	display:inline-block;
	position: fixed;
	left: 0;
	/*z-index: 1;*/
	color: #48F;
	visibility: hidden;
	padding-left: 2rem;
	font-size: 2em;
	font-family: "Open Sans", sans-serif;
	background:transparent;
	height: auto;
	outline:none;
}

.navbar h1 {
	display: inline-block;
	margin: 0.1em;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.taskbar {
	font-family: "Open Sans", sans-serif;
	font-size: 0.8em;
	color: #8CF;
	background-color: #D1FFDD;
	z-index: 99;
	position: fixed;
	box-shadow: 0px 0px 30px #A8B8C8;
	bottom: 0;
	width: 100%;
	height: relative;
	overflow: hidden;
	display: table;
	table-layout: fixed;
}

.taskbar ul {
	width: 100%;
	padding: 0;
	text-align: center;
	margin: 0;
	height: relative;
	display: table-row;
}

.taskbar ul li {
	display: table-cell;
	list-style: none;
	/*border:none;*/
	border-right: 4px solid #81CF8D;
	/*width: 25%;*/
}

.taskbar ul li:last-child {border-right:none;}

.taskBarButton {
	width: 100%;
	z-index: 1;
	margin: 0;
	height: relative;
	/*border-right: 4px solid #81CF8D;*/
	padding: 0em 0em;
	font-family: 'Open Sans', sans-serif;
	border: none;
	background: transparent;
	&:focus {
		outline: none;
	}
}

.taskBarButton img {
	max-width: 60%;
	max-height: 5vh;
}

.taskBarButton p {
	margin: 0;
}

.taskBarItem {

}

.selectedTBI {
	/*border-left:;*/
	background-color: #81CF8D;
}

#container {
	margin: 6vh 0;
	height: 88vh;
	z-index: -1;
	/*background-color: green;*/
}

/*GENERICS*/

button {
	border: none;
	touch-action: manipulation;
	background: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:focus {
	outline:none;
}

body {
	touch-action: manipulation;
	font-family: "Open Sans", sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ECFAEF;
}