.navbar {
	font-family: "Open Sans", sans-serif;
	font-size: 1.3em;
	color: #8CF;
	background-color: #D1FFDD;
	z-index: 1000;
	position: fixed;
	box-shadow: 0px 0px 30px #A8B8C8;
	top: 0;
	width: 100%;
	height: relative;
	overflow: hidden;
}

.navbar #backButton {
	display:inline-block;
	position: fixed;
	left: 0;
	/*z-index: 1;*/
	color: #48F;
	visibility: hidden;
	padding-left: 2rem;
	font-size: 2.2em;
	font-family: "Open Sans", sans-serif;
	background:transparent;
	height: auto;
}

.navbar h1 {
	display: inline-block;
	margin: 0.1em;
}

.taskbar {
	font-family: "Open Sans", sans-serif;
	font-size: 0.8em;
	color: #8CF;
	background-color: #D1FFDD;
	z-index: 1000;
	position: fixed;
	box-shadow: 0px 0px 30px #A8B8C8;
	bottom: 0;
	width: 100%;
	height: relative;
	overflow: hidden;
	display: table;
	table-layout: fixed;
}

.taskbar ul {
	width: 100%;
	padding: 0;
	text-align: center;
	margin: 0;
	height: 100%;
	display: table-row;
}

.taskbar ul li {
	display: table-cell;
	list-style: none;
	/*border:none;*/
	border-right: 4px solid #81CF8D;
	/*width: 25%;*/
}

.taskbar ul li:last-child {border-right:none;}

.taskBarButton {
	width: 100%;
	z-index: 1;
	margin: 0;
	/*border-right: 4px solid #81CF8D;*/
	padding: 2.7em 1em;
	font-family: 'Open Sans', sans-serif;
	border: none;
	background: transparent;
	&:focus {
		outline: none;
	}
}

.taskBarItem {

}

.selectedTBI {
	/*border-left:;*/
	background-color: #81CF8D;
}



/*GENERICS*/

button {
	border: none;
	background: transparent;
}

button:focus {
	outline:none;
}

body {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ECFAEF;
}