/*

NOTE: This will be very important in the future
when making id or class names, please append the file name to it.
i.e. if this is the pantry.css page, you should have .pantryButton
and not .button.


Also, please refrain from using tag selectors directly. Don't worry
about spacings too much


*/

#pantryTrashButton {
	/*visibility: hidden;*/
	
	/*: min(50vw, 300px);*/
	background-color: #C4FFF5;
	padding: 1rem 1rem;
	
	-webkit-clip-path: circle(40%);
	clip-path: circle(40%);
	clip: circle(40%);
	z-index: -1;
}

#pantryTrashButton img {
	max-height: 30pt;
	height: 7vh;
}

#pantryTrashWrap {
	display:block;
	position: fixed;
	bottom: 10vh;
	right: 5vh;	
	filter: drop-shadow(0 0 15px #A8B8C8);
	right: min(5vh, 3%);
}

#pantryContainer {
	width: 100%;
	max-width: 1200px;
	padding: 4% 0;
	height: 92%;
	margin: 0 auto;
	overflow-x: hidden;
	box-shadow: 0 0 10px #8CC;
}

#pantryTable{
	display: table;
	width: 100%;
	background-color: #FBFDFC;
	padding: 0;
	height: relative;
	box-shadow: 0 0 10px #B8B8C8;
}

.pantryItem {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: flex;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #8CF;
	padding: 0.8rem 0.4rem;
}

.pantryItem:last-child {border-bottom:none;}

.pantryItemCheckBox {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: inline-table;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pantryItemDescription {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: inline-table;
	padding-left: 5px;
	width: relative;
}



/* GENERICS */

button {
	border: none;
	background: transparent;
}

button:focus {
	outline:none;
}

body {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ECFAEF;
}